$homepage-hero-color: white; 
$image-overlay-opacity: 0.5;
$image-overlay-bg: black;  
$hero-title-size: 65px; 

.homepage-hero-section {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $homepage-hero-color; 
    &.block-section {
        padding-top: 0; 
        padding-bottom: 0; 
    }
    .image-overlay {
        background-color: $image-overlay-bg;
        opacity: $image-overlay-opacity; 
        z-index: 1; 
    }
    .homepage-hero-container {
        z-index: 2;
        position: relative;
        .homepage-hero-row {
            .homepage-hero-col {
                .homepage-hero-content-wrapper {
                    .title-area-content-wrapper {
                        padding-bottom: 30px; 
                         .title-wrapper {
                            .h1 {
                                font-size: $hero-title-size; 
                            }
                            
                        }

                    }
                   
                    .button-area-wrapper {
                        text-align: center;
                    }
                }
            }
        }
    }
}