.social-list {
    display: flex;
    align-items: center;
    justify-content: center; 
    list-style: none;
    margin-bottom: 0; 
    li {
        padding-right: 25px; 
        a {
            color: inherit; 
            text-decoration: none;
            img {
                width: 25px; 
                height: 25px; 
            }
            i {
                font-size: 26px; 
            }
        }
    }
}