// Import parent SCSS
@import '../../../precious-works-parent/assets/scss/variables';
@import '../../../precious-works-parent/assets/scss/bootstrap';
@import '../../../precious-works-parent/assets/scss/body';
@import '../../../precious-works-parent/assets/scss/global-styling';
@import '../../../precious-works-parent/assets/scss/buttons';
@import '../../../precious-works-parent/assets/scss/typography';
@import '../../../precious-works-parent/assets/scss/container-styling';

@import '../../../precious-works-parent/assets/scss/util';


@import '../../../precious-works-parent/assets/scss/templates/blog-archive';
@import '../../../precious-works-parent/assets/scss/templates/blog-single';

@import '../../../precious-works-parent/assets/scss/components/header-navigation';
@import '../../../precious-works-parent/assets/scss/components/footer';
@import '../../../precious-works-parent/assets/scss/components/partials/title-area';


@import '../../../precious-works-parent/assets/scss/blocks/reviews-block';
@import '../../../precious-works-parent/assets/scss/blocks/recent-posts';
@import '../../../precious-works-parent/assets/scss/blocks/accordions';
@import '../../../precious-works-parent/assets/scss/blocks/homepage-hero';
@import '../../../precious-works-parent/assets/scss/blocks/photo-divider';
@import '../../../precious-works-parent/assets/scss/blocks/image-gallery';
@import '../../../precious-works-parent/assets/scss/blocks/interior-hero';
@import '../../../precious-works-parent/assets/scss/blocks/wildcards';



