// Block Padding Variables
$section-padding: 60px; 
$mobile-section-padding: 30px; 

// Accordion Variables
$accordion-border: 2px solid $color-secondary;
$accordion-padding: 16px;  
$accordion-transition: 0.25s ease; 

// Homepage Hero Variables
$homepage-hero-color: white; 
$image-overlay-opacity: 0.5;
$image-overlay-bg: black;  
$hero-title-size: 65px; 
$homepage-hero-height: 100vh; 

// Interior Hero Variables
$interior-hero-bg: transparent; 
$title-width: 50%; 
$image-height: 700px; 
$image-width: 50%; 
$image-width-mobile: 100%; 
$title-width-mobile: 100%;
$title-element-spacing: 25px; 

// Recent Posts Variables
$recent-post-spacing: 20px; 

// Review Variable
$review-border-color: black; 

// Wildcard Variables
$wildcard-element-spacing: 20px; 