.wysiwyg {
    p:last-child() {
        margin-bottom: 0; 
    }
}

.rounded-corners {
    border-radius: 12px; 
}

.u-focus-style {
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color-accent, 0.4);
    border-radius: inherit; // respects rounded elements
  }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}