.wysiwyg {
    p:last-child() {
        margin-bottom: 0; 
    }
}

.rounded-corners {
    border-radius: 12px; 
}

.color-inherit {
    color: inherit; 
}

.u-focus-style {
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px rgba($color-accent, 0.4);
    border-radius: inherit; // respects rounded elements
  }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}


